ion-datetime {
    --background: var(--ion-color-dark);
    --color: var(--ion-color-light);
    --button-background-hover: var(--ion-color-dark);
    --button-background-activated: var(--ion-color-dark);
    --button-color: var(--ion-color-light);
    --button-color-hover: var(--ion-color-light);
    --button-color-activated: var(--ion-color-light);
    --picker-background: var(--ion-color-dark);
    --picker-color: var(--ion-color-light);
  }